## Required modules for pyranoid_copy, taken from pip freeze.
# [required]
tqdm>=4.55.1

# [recommended]
colorama>=0.4.4
crc32c>=2.2
# [maybe soon used]
# xxhash >= 2.0.0

# [helpers for coding]
# flake8>=3.8.4

# [for doc]
rstcheck>=3.3.1
Sphinx>=3.4.1
sphinx-rtd-theme>=0.5.0

# [GUI]  # Not yet updated, most likely npyscreen
# npyscreen>=4.10.5
PySimpleGUI>=4.33.0
# PySimpleGUIQt>=0.31.0
# PySimpleGUIWeb>=0.36.0
