# [required]
tqdm>=4.43.0

# [recommended]
colorama>=0.4.3
crc32c>=2.0

# [helpers for coding]
flake8>=3.7.9

# [helpers for doc]
rstcheck>=3.3.1

# [GUI]  # Not yet updated, most likely npyscreen
npyscreen>=4.10.5
PySimpleGUI>=4.16.0
PySimpleGUIQt>=0.31.0
PySimpleGUIWeb>=0.36.0
